@import url("https://fonts.googleapis.com/css?family=Rubik:400,500");
*{padding:0;margin:0;}*:focus{outline:none}input:not([type="checkbox"]){-webkit-appearance:none;-moz-appearance:none}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquotebefore,blockquote:after,qbefore,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}a{text-decoration:none}/* Uncomment and set these variables to customize the grid. */

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /*commented by bhakti*/
  /*margin-right: -1rem;*/
  /*margin-left: -1rem;*/
}

.row.reverse {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  /* padding-right: 1rem; */
  /* padding-left: 1rem; */
}

.col-xs {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  -ms-flex-preferred-size: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%;
}

.col-xs-2 {
  -ms-flex-preferred-size: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%;
}

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.col-xs-5 {
  -ms-flex-preferred-size: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%;
}

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  -ms-flex-preferred-size: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%;
}

.col-xs-8 {
  -ms-flex-preferred-size: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%;
}

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  -ms-flex-preferred-size: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%;
}

.col-xs-11 {
  -ms-flex-preferred-size: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%;
}

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-1 {
  margin-left: 8.333%;
}

.col-xs-offset-2 {
  margin-left: 16.667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.333%;
}

.col-xs-offset-5 {
  margin-left: 41.667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.333%;
}

.col-xs-offset-8 {
  margin-left: 66.667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.333%;
}

.col-xs-offset-11 {
  margin-left: 91.667%;
}

.start-xs {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

.end-xs {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.middle-xs {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.bottom-xs {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
}

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between-xs {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.first-xs {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
}

.last-xs {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}

@media only screen and (min-width: 48em) {
  .container {
    width: 46rem;
  }

  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    /* padding-right: 1rem; */
    /* padding-left: 1rem; */
  }

  .col-sm {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-sm-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-sm-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-sm-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-sm-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-sm-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-sm-offset-1 {
    margin-left: 8.333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.667%;
  }

  .start-sm {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-sm {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-sm {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-sm {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-sm {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-sm {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-sm {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-sm {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

@media only screen and (min-width: 62em) {
  .container {
    width: 61rem;
  }

  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    /*commented by bhakti*/
    /*padding-right: 1rem;*/
    /*padding-left: 1rem;*/
  }

  .col-md {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-md-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-md-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-md-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-md-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-md-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-md-offset-1 {
    margin-left: 8.333%;
  }

  .col-md-offset-2 {
    margin-left: 16.667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.333%;
  }

  .col-md-offset-5 {
    margin-left: 41.667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.333%;
  }

  .col-md-offset-8 {
    margin-left: 66.667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.333%;
  }

  .col-md-offset-11 {
    margin-left: 91.667%;
  }

  .start-md {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-md {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-md {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-md {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-md {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-md {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-md {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-md {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

@media only screen and (min-width: 75em) {
  .container {
    width: 71rem;
  }

  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-lg-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-lg-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-lg-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-lg-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-lg-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-lg-offset-1 {
    margin-left: 8.333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.667%;
  }

  .start-lg {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-lg {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-lg {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-lg {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-lg {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-lg {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-lg {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-lg {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

.wrapper{width:100%;box-sizing:border-box;position:relative;}@media only screen and (min-width:1198px){.wrapper{width:1197px;margin:0 auto}}@media only screen and (max-width:1197px){.wrapper{padding:0 30px}}@media only screen and (max-width:768px){.wrapper{padding:0 20px}}html,body{font-size:14px}@media only screen and (max-width:768px){br{display:none}}body{font-family:'Rubik';font-weight:400}.text-gradient,h2,footer .title{color:transparent;background-clip:text;-webkit-background-clip:text;background-image:linear-gradient(to left,#0aded2,#4194fc);}.text-gradient.--w-shadow,h2.--w-shadow,footer .title.--w-shadow,h1{text-shadow:0 2px 75px #0aded2}.text-gradient.--style-2,h2.--style-2,footer .title.--style-2{background-image:linear-gradient(118deg,#fff,#5dd0ff);text-shadow:0 7px 30px rgba(5,72,87,0.5)}sup{text-transform:uppercase;font-size:50%}h1{font-size:40px;font-style:normal;font-stretch:normal;line-height:1.25;letter-spacing:normal;line-height:1.25;}h1:not(:last-child){margin-bottom:30px}@media only screen and (max-width:768px){h1{font-size:37px;line-height:1.28}}h2{font-size:36px;position:relative;line-height:1.56;}h2:not(:last-child){margin-bottom:20px}@media only screen and (max-width:768px){h2{font-size:20px}}h3{font-size:26px;line-height:1.54;color:#d4d6fc;}@media only screen and (max-width:768px){h3{font-size:20px;line-height:1.25}}h4{font-size:18px;line-height:1.67;color:#d4d6fc}h5{font-size:14px;line-height:1.7;color:#fff}h6{font-size:14px;opacity:.6;color:#d4d6fc;line-height:1.71}p{font-size:22px;line-height:1.38;color:#d4d6fc;}p.--small{font-size:16px}p:not(:last-child){margin-bottom:25px}@media only screen and (max-width:768px){p{font-size:16px;line-height:1.7}p.--small{font-size:12px}}.button{padding:12px 40px;border-radius:50px;display:inline-flex;text-transform:capitalize;color:#fff;transition:.3s opacity ease;cursor:pointer;border:none;font-weight:400;font-style:normal;font-stretch:normal;letter-spacing:normal;font-size:15px;box-sizing:border-box;}@media only screen and (max-width:768px){.button{padding:12px 20px}}.button .icon,.button .text{margin:auto 0;display:block}.button .icon{width:20px;height:20px;display:block;margin-left:10px;position:relative;top:-1px;border-radius:50%}.button.--gradient-blue{background-image:linear-gradient(to left,#0aded2,#4194fc);box-shadow:0 6px 24px 0 rgba(0,0,0,0.1)}.button.--gradient-pink{background-image:linear-gradient(285deg,#9b73f8,#f773b5);box-shadow:0 6px 24px 0 rgba(0,0,0,0.1)}.button:hover{opacity:.8}html,body{position:relative;height:100%;color:#d4d6fc}.search-input input{background:url("../img/icons/magnifying-glass.svg") no-repeat calc(100% - 20px) center/20px #fff;-webkit-appearance:none;padding-right:50px}@media only screen and (max-width:768px){.--max-width-on-mobile{margin:0 -20px}.reverse-on-mobile{flex-direction:column-reverse;}.reverse-on-mobile .col-xs-12{flex-basis:unset}}.hero-anim{width:100%;}@media only screen and (min-width:800px),only screen and (min-width:800px) and (max-width:992px){.hero-anim{height:calc(100% - 139px)}}@media only screen and (max-width:800px){.hero-anim{height:50%}}input,select{padding:14px 20px;font-size:16px;border-radius:7px;width:100%;border:none;font-family:'Rubik';box-sizing:border-box}select{-webkit-appearance:none;}@media only screen and (max-width:800px){body.--show-header-list-mobile .overlay{opacity:1;pointer-events:auto}body.--show-header-list-mobile .header__list{transform:none}}.overlay{background:rgba(0,0,0,0.75);position:fixed;top:0;right:0;left:0;bottom:0;z-index:2;opacity:0;pointer-events:none;transition:.3s all ease}header{padding-top:50px;width:100%;box-sizing:border-box;overflow:hidden;}@media only screen and (max-width:768px){header{padding-top:30px}}header .--align-right{text-align:right}@media only screen and (min-width:993px),only screen and (min-width:769px) and (max-width:992px){header .burger-menu-wrapper{display:none}}.burger-menu{width:23px;height:18px;cursor:pointer;position:relative;display:block;margin-left:auto;}.burger-menu .bar{width:100%;height:2px;background:#fff;position:absolute;transition:.3s all ease;display:block}.burger-menu .--top{top:0;transform-origin:right top}.burger-menu .--center{top:50%;transform:translateY(-50%)}.burger-menu .--bottom{bottom:0;transform-origin:right bottom}.header__logo{display:inline-block;font-weight:500;font-size:30px}.header__content > *{margin-top:auto;margin-bottom:auto}.header__list-wrapper{display:inline-block;}.header__list{display:flex;justify-content:flex-end;position:relative;transition:.3s transform ease;}@media only screen and (min-width:993px),only screen and (min-width:769px) and (max-width:992px){.header__list li{margin-top:auto;margin-bottom:auto}}.header__list .buttons-wrapper{display:flex;}@media only screen and (min-width:993px),only screen and (min-width:769px) and (max-width:992px){.header__list .buttons-wrapper .button:nth-child(2){margin-left:15px}}@media only screen and (max-width:768px){.header__list .buttons-wrapper{justify-content:flex-end}}.header__list .close-header-list-mobile{display:block;position:fixed;top:35px;right:20px;width:23px;height:18px;cursor:pointer;}.header__list .close-header-list-mobile .bar{width:100%;height:2px;background:#000;position:absolute;transition:.3s all ease;display:block}.header__list .close-header-list-mobile .--top{transform:translateY(0) translateX(-1px) rotate(-45deg);top:0;transform-origin:right top}.header__list .close-header-list-mobile .--bottom{transform:translateY(0) translateX(-1px) rotate(45deg);bottom:0;transform-origin:right bottom}@media only screen and (min-width:993px),only screen and (min-width:769px) and (max-width:992px){.header__list .close-header-list-mobile{display:none}}@media only screen and (max-width:768px){.header__list{position:fixed;top:0;left:20%;right:0;bottom:0;z-index:1;display:flex;flex-direction:column;justify-content:center;padding:20px;background:#fff;transform:translateX(100%);z-index:2}.header__list li{margin-right:0 !important;}.header__list li a{font-size:18px;color:#000}.header__list li:not(:last-child){margin-bottom:25px}}.header__list li:not(:last-child){margin-right:30px;}@media only screen and (min-width:769px) and (max-width:992px){.header__list li:not(:last-child){margin-right:25px}}.header__list a{color:#fff;position:relative;padding:13px 0;}.header__list a:before{content:"";position:absolute;left:50%;transform:translateX(-50%);width:20px;height:3px;background:#fff;bottom:0;display:none;border-radius:1.5px}.header__list a.--is-active:before{display:block}#home{display:flex;align-items:center;flex-direction:column;overflow:hidden;padding-bottom:50px;position:relative;box-sizing:border-box;}@media only screen and (max-width:768px){#home{padding-bottom:30px}}#home:before{content:'';position:absolute;top:0;right:0;bottom:0;left:0;background-image:linear-gradient(to bottom,#231e7a,#202046);z-index:0;transform-origin:bottom;transform:scale(1.5);}@media only screen and (min-width:769px) and (max-width:992px){#home:before{transform:scale(1.8,1.5)}}@media only screen and (max-width:768px){#home:before{transform:scale(2.5,1.5)}} @media only screen and (min-width:993px),only screen and (min-width:769px) and (max-width:992px){#home{min-height:100%;}} @media screen and (min-width: 1400px) { #home{min-height:auto;} } @media screen and (min-width: 1600px){ #home{min-height:auto;}} @media screen and (min-width: 1900px) { #home{min-height:auto;} } #home .home-bg-col{position:relative;}@media only screen and (max-width:768px){#home .home-bg-col{margin-top:40px !important}}#home .home-bg{width:100%}#home .home__content{margin-top:50px;margin-bottom:auto;position:relative;}#home .home__content > div{margin-top:auto;margin-bottom:auto}@media only screen and (max-width:768px){#home .home__content{margin-top:37px;margin-bottom:30px;text-align:center}}#home .home__content .buttons-wrapper{margin-top:60px;display:flex;}@media only screen and (min-width:769px) and (max-width:992px){#home .home__content .buttons-wrapper{margin-top:50px}}#home .home__content .buttons-wrapper .button:not(:last-child){margin-right:25px}@media only screen and (max-width:768px){#home .home__content .buttons-wrapper{margin-top:10px;justify-content:center}}#home + section{position:relative;}#home + section:before{content:'';position:absolute;top:-100%;right:0;left:0;bottom:0;background-image:linear-gradient(103deg,#423da4,#202046);z-index:-1}#choose-us h2{text-align:center;margin-bottom:50px}#choose-us .list{text-align:center;}#choose-us .list .list__item img{display:block;margin:0 auto 10px;}@media only screen and (max-width:768px){#choose-us .list .list__item img{height:100px}}@media only screen and (min-width:769px) and (max-width:992px),only screen and (max-width:768px){#choose-us .list .list__item{padding:20px}}.choices-list{position:relative;}.choices-list.align-items--top{align-items:flex-start}.choices-list.flex{display:flex;justify-content:center}.choices-list .choice__separator{margin:auto 10px;color:#d4d6fc}.choices-list.--normal-size .choice__item{padding:14px 25px;margin:0 10px}.choices-list.--big-size .choice__item{padding:70px 0;margin:0 10px;flex-basis:50%;font-size:50px;}@media only screen and (max-width:768px){.choices-list.--big-size .choice__item{padding:40px 0;font-size:25px}}.choices-list.--big-size .choice__item:first-child{margin-left:0}.choices-list.--big-size .choice__item:last-child{margin-right:0}.choices-list.--no-match-items{margin-top:130px;}@media only screen and (min-width:993px){.choices-list.--no-match-items .choice__item{margin-bottom:auto}}.choices-list.grid{display:grid;grid-gap:25px;}.choices-list.grid.--col-3{grid-template-columns:repeat(3,1fr)}.choices-list.grid.--col-4{grid-template-columns:repeat(4,1fr);}.choices-list.grid.--col-4.--big-gap{grid-row-gap:160px;}@media only screen and (max-width:768px){.choices-list.grid.--col-4.--big-gap{grid-row-gap:10px}}@media only screen and (min-width:993px),only screen and (min-width:769px) and (max-width:992px){.choices-list.grid.--col-4.--big-gap{margin-top:120px}.choices-list.grid.--col-4.--big-gap .choice__item:not(.--block){padding-bottom:0;}.choices-list.grid.--col-4.--big-gap .choice__item:not(.--block) .version,.choices-list.grid.--col-4.--big-gap .choice__item:not(.--block) .features,.choices-list.grid.--col-4.--big-gap .choice__item:not(.--block) > div:last-child,.choices-list.grid.--col-4.--big-gap .choice__item:not(.--block) > .price:last-child{top:-30px}}@media only screen and (min-width:769px) and (max-width:992px){.choices-list.grid.--col-4{grid-template-columns:repeat(3,1fr)}}@media only screen and (max-width:768px){.choices-list.grid.--col-3,.choices-list.grid.--col-4{-webkit-overflow-scrolling:touch;grid-template-columns:1fr;overflow:scroll;grid-gap:10px;}.choices-list.grid.--col-3:after,.choices-list.grid.--col-4:after{content:'';display:block;width:10px}}.choices-list .choice__item{position:relative;transition:.3s all ease;border-radius:5px;cursor:pointer;background:#383aa1;padding:30px;}.choices-list .choice__item h1{text-shadow:none;margin:10px 0}.choices-list .choice__item h1,.choices-list .choice__item h3,.choices-list .choice__item h5,.choices-list .choice__item h4{color:#fff;opacity:1;position:relative;opacity:.7;transition:.3s all ease}.choices-list .choice__item.--big-pt{padding:50px 30px}.choices-list .choice__item.--no-pt .byo{font-size:60px;color:#fff;position:relative}.choices-list .choice__item.--no-pt img{position:relative;}@media only screen and (max-width:768px){.choices-list .choice__item.--no-pt img{margin-bottom:15px}}@media only screen and (min-width:993px),only screen and (min-width:769px) and (max-width:992px){.choices-list .choice__item.--no-pt{padding-top:0}.choices-list .choice__item.--no-pt .byo{transform:translateY(-20px)}.choices-list .choice__item.--no-pt img{transform:translateY(-50%)}}.choices-list .choice__item:hover h1,.choices-list .choice__item:hover h3,.choices-list .choice__item:hover h4,.choices-list .choice__item:hover h5,.choices-list .choice__item:hover h6{opacity:1}.choices-list .choice__item:hover:before{opacity:.5}.choices-list .choice__item:hover:after{opacity:0}.choices-list .choice__item.--is-active .features{color:#fff}.choices-list .choice__item .features{color:#d4d6fc;position:relative}.choices-list .choice__item .features{list-style:none;margin:18px 0;}.choices-list .choice__item .features li:not(:last-child){margin-bottom:8px}.choices-list .choice__item .desc{margin-top:auto;margin-bottom:50px;}@media only screen and (max-width:768px){.choices-list .choice__item .desc{margin:20px 0}}.choices-list .choice__item .price{margin-top:30px}.choices-list .choice__item.--block{padding-top:100px;padding-bottom:100px;}@media only screen and (max-width:768px){.choices-list .choice__item.--block{padding-top:50px;padding-bottom:50px}}.choices-list .choice__item.--ghost{background:transparent;}.choices-list .choice__item.--ghost:after{content:'';position:absolute;top:0;right:0;bottom:0;left:0;border:1px solid #fff;border-radius:5px;transition:.3s all ease;pointer-events:none}.choices-list .choice__item.--is-active{border-color:transparent;}.choices-list .choice__item.--is-active h1,.choices-list .choice__item.--is-active h3,.choices-list .choice__item.--is-active h4,.choices-list .choice__item.--is-active h5{opacity:1}.choices-list .choice__item.--is-active:before{opacity:1}.choices-list .choice__item.--is-active:after{opacity:0}.choices-list .choice__item.--is-active:hover:before{opacity:1}.choices-list .choice__item:before{content:'';position:absolute;top:0;right:0;bottom:0;left:0;background:linear-gradient(to left,#66e7ff,#7467fe);opacity:0;transition:.3s all ease;z-index:0;border-radius:5px}.choices-list .choice__item span{position:relative;color:#fff}form.col-2,form .col-2{width:100%;display:grid;grid-template-columns:repeat(2,calc(50% - 15px));grid-gap:30px;}@media only screen and (min-width:769px) and (max-width:992px),only screen and (max-width:768px){form.col-2,form .col-2{grid-template-columns:repeat(2,calc(50% - 10px));grid-gap:20px}form.col-2 .col-2-only,form .col-2 .col-2-only{grid-template-columns:repeat(2,1fr)}}@media only screen and (max-width:480px){form.col-2,form .col-2{grid-template-columns:1fr;grid-gap:15px}}form.--input-dark input,form.--input-dark select{background:#383aa1;color:#fff;}form.--input-dark input::placeholder,form.--input-dark select::placeholder{color:#d4d6fc;opacity:.7}form.--input-dark select{background:url("../img/icons/arrow-down.svg") no-repeat calc(100% - 15px) center/16px #383aa1}form .placeholder{margin-left:10px;margin-bottom:10px;text-align:left;color:#d4d6fc}section:not(#home):not(.sub-section){padding:100px 0;}@media only screen and (min-width:993px),only screen and (min-width:769px) and (max-width:992px){section:not(#home):not(.sub-section) .content-left{padding-right:80px}section:not(#home):not(.sub-section) .content-right{padding-left:80px}}@media only screen and (min-width:769px) and (max-width:992px),only screen and (max-width:768px){section:not(#home):not(.sub-section){padding:50px 0}}.main-sections{position:relative;overflow:hidden;background-image:radial-gradient(circle at 67% 35%,#1e1f4f,#1e2380);padding:100px 0;text-align:center;}@media only screen and (min-width:769px) and (max-width:992px),only screen and (max-width:768px){.main-sections{padding:50px 0}}.main-sections .sub-section:not(:last-child){margin-bottom:100px;}@media only screen and (min-width:769px) and (max-width:992px),only screen and (max-width:768px){.main-sections .sub-section:not(:last-child){margin-bottom:75px}}.main-sections .sub-section h6{margin-top:40px}.main-sections .address-checker h2{margin-bottom:15px}.main-sections .address-checker h3{margin-top:40px}.main-sections .address-checker .choices-list{margin-top:25px}.main-sections .enter-your-address .map-wrapper{padding:50px;box-sizing:border-box;}@media only screen and (max-width:768px){.main-sections .enter-your-address .map-wrapper{padding:25px 0}}.main-sections .enter-your-address .map{width:100%}.main-sections .enter-your-address form{margin-bottom:40px}@media only screen and (min-width:993px),only screen and (min-width:769px) and (max-width:992px){#internet-speed .choices-list,#load-balanced .choices-list{margin-top:100px}}#choose-modem .filters{display:flex;justify-content:center;margin-top:60px;}@media only screen and (max-width:768px){#choose-modem .filters{display:grid;grid-template-columns:repeat(11,auto);overflow:scroll;-webkit-overflow-scrolling:touch;justify-content:unset;padding:30px 20px;grid-gap:15px;position:relative;margin-top:0}#choose-modem .filters:after{content:'';width:1px;display:block}}#choose-modem .filters .filter__item{cursor:pointer;transition:.3s all ease;opacity:.75;white-space:nowrap;}#choose-modem .filters .filter__item.--is-active{color:#fff;opacity:1}#choose-modem .filters .filter__item:not(:last-child){margin-right:20px;}@media only screen and (max-width:768px){#choose-modem .filters .filter__item:not(:last-child){margin-right:0}}#choose-modem .filters .filter__item:not(:first-child){text-transform:uppercase}#choose-modem .choice__item{display:flex;flex-direction:column;}#choose-modem .choice__item .price{margin-top:auto}#choose-modem .choice__item:not(.--is-shown){display:none}#choose-modem .choice__item .prices-wrapper{display:flex;justify-content:center;align-items:center;position:relative;}#choose-modem .choice__item .prices-wrapper > span{margin:0 20px;font-size:14px}#choose-modem .choice__item .prices-wrapper .price{line-height:1.2}#choose-modem .choice__item .price span:last-child{font-size:14px;display:block}@media only screen and (min-width:993px),only screen and (min-width:769px) and (max-width:992px){#modem-configuration .choices-list{padding:0 40px;margin:80px 0}}@media only screen and (max-width:768px){#modem-configuration .choices-list{margin-bottom:30px}}@media only screen and (min-width:993px),only screen and (min-width:769px) and (max-width:992px){#free .choices-list{margin-top:50px}}#faq{background:#1e1f4f;}#faq h2{text-align:left}#faq .recent-questions{margin-top:40px;}@media only screen and (min-width:993px){#faq .recent-questions{padding-left:40px}}#faq .recent-questions li:not(:last-child){margin-bottom:12px}#faq .recent-questions a{color:#fff}#bonus .bonus-list{display:grid;margin-top:80px;grid-gap:20px;}@media only screen and (min-width:993px){#bonus .bonus-list{grid-template-columns:repeat(5,1fr)}}@media only screen and (min-width:769px) and (max-width:992px),only screen and (max-width:768px){#bonus .bonus-list{grid-gap:10px;grid-template-columns:repeat(2,1fr)}}#bonus .bonus__item{padding:30px 25px;box-sizing:border-box;}#bonus .bonus__item img{height:80px;margin:auto;display:block;position:relative;margin-bottom:20px}#confirmation .confirmation-list .list__item:not(:last-child){margin-bottom:50px}#confirmation .confirmation-list .list__item{display:grid;grid-template-columns:1fr auto}#confirmation .confirmation-list .question{text-align:left;}@media only screen and (min-width:993px),only screen and (min-width:769px) and (max-width:992px){#confirmation .confirmation-list .question{padding-right:50px}}#confirmation .confirmation-list .choices-list.flex{margin:auto 0;}@media only screen and (max-width:768px){#confirmation .confirmation-list .choices-list.flex{flex-direction:column}#confirmation .confirmation-list .choices-list.flex.--normal-size .choice__item{padding:10px 15px;}#confirmation .confirmation-list .choices-list.flex.--normal-size .choice__item:not(:last-child){margin-bottom:10px}}#order-summary .order-summary{box-sizing:border-box;border:1px solid rgba(255,255,255,0.25);padding:30px;border-radius:6px;text-align:left;display:grid;grid-template-columns:25% 25% 50%;grid-row-gap:25px;}@media only screen and (max-width:768px){#order-summary .order-summary{grid-template-columns:1fr;padding:20px}}#order-summary .order-summary h6{margin-top:0}#order-summary .order-summary .order__item:last-child .placeholder{color:#fff;opacity:1}.section-w-pattern{position:relative;}.section-w-pattern:after{content:'';position:absolute;top:0;right:0;bottom:0;left:0;pointer-events:none;z-index:0;background:no-repeat center center/contain}.section-w-pattern.pattern-1:after{background-image:url("../img/bg/pattern-1.svg")}.section-w-pattern.pattern-2:after{background-image:url("../img/bg/pattern-2.svg")}.section-w-pattern.pattern-3:after{background-image:url("../img/bg/pattern-3.svg")}.section-w-pattern .bg-col{position:relative;}@media only screen and (max-width:768px){.section-w-pattern .bg-col{margin-top:40px !important}}.section-w-pattern .bg{width:100%;z-index:1;position:relative}.section-w-pattern .content{margin-top:auto;margin-bottom:auto;position:relative;}.section-w-pattern .content > div{margin-top:auto;margin-bottom:auto}@media only screen and (max-width:768px){.section-w-pattern .content{text-align:center}}.section-w-pattern .content .buttons-wrapper{margin-top:60px;display:flex;position:relative;z-index:1;}@media only screen and (min-width:769px) and (max-width:992px){.section-w-pattern .content .buttons-wrapper{margin-top:50px}}.section-w-pattern .content .buttons-wrapper .button:not(:last-child){margin-right:25px}@media only screen and (max-width:768px){.section-w-pattern .content .buttons-wrapper{margin-top:10px;justify-content:center}}#web-mobile{background-image:linear-gradient(to bottom,#231e7a,#202046);text-align:center;}#web-mobile .buttons-wrapper{justify-content:center}footer{padding:100px 0 0;background:radial-gradient(circle at 67% 35%,#1e1f4f,#1e2380);}@media only screen and (min-width:769px) and (max-width:992px),only screen and (max-width:768px){footer{padding-top:50px}}footer .pars p{line-height:1.75}footer .title{height:60px}footer .footer-illustration{display:block;width:100%;}footer .footer-illustration img{display:block;width:100%}@media only screen and (min-width:993px){footer .col-md-4{padding-right:50px}}@media only screen and (min-width:769px) and (max-width:992px),only screen and (max-width:768px){footer .col-md-4{margin-bottom:30px}}@media only screen and (min-width:769px) and (max-width:992px),only screen and (max-width:768px){footer .col-md-2{margin-bottom:20px}}footer .footer-link-list li{list-style:none;}footer .footer-link-list li:not(:last-child){margin-bottom:5px}footer .footer-link-list a{color:#d4d6fc;font-size:13px;line-height:1.5;}footer .footer-link-list a:hover{text-decoration:underline}footer .social-link-list{display:flex;}footer .social-link-list a{width:26px;height:26px;background:url("../img/icons/social.svg") no-repeat 0 0;display:block;}footer .social-link-list a.tw{background-position:-44px 0;width:31px}footer .social-link-list a.gp{background-position:-92px 0}footer .social-link-list a:not(:last-child){margin-right:20px}#calendar #calendar-wrapper{margin:60px 0 40px;}@media only screen and (max-width:768px){#calendar #calendar-wrapper{margin-top:30px}}#calendar-wrapper{position:relative;}#calendar-wrapper > .dhtmlxcalendar_material{position:relative;width:100%;background:#383aa1;padding:30px 30px 15px;box-sizing:border-box;border-radius:6px;}#calendar-wrapper > .dhtmlxcalendar_material *{width:unset;color:#fff;border:none;height:unset;line-height:unset;background:unset}#calendar-wrapper > .dhtmlxcalendar_material div.dhtmlxcalendar_dates_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell{opacity:.2}#calendar-wrapper > .dhtmlxcalendar_material div.dhtmlxcalendar_dates_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell_month,#calendar-wrapper > .dhtmlxcalendar_material div.dhtmlxcalendar_dates_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell_month_date{opacity:1}#calendar-wrapper > .dhtmlxcalendar_material div.dhtmlxcalendar_dates_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell_month_weekend{opacity:1;}#calendar-wrapper > .dhtmlxcalendar_material div.dhtmlxcalendar_dates_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell_month_weekend .dhtmlxcalendar_label{color:#e74c3c}#calendar-wrapper > .dhtmlxcalendar_material div.dhtmlxcalendar_dates_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell_month_date:before{opacity:1}#calendar-wrapper > .dhtmlxcalendar_material div.dhtmlxcalendar_dates_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell_month_date_hover,#calendar-wrapper > .dhtmlxcalendar_material div.dhtmlxcalendar_dates_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell_month_hover{opacity:1;}#calendar-wrapper > .dhtmlxcalendar_material div.dhtmlxcalendar_dates_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell_month_date_hover:hover:before,#calendar-wrapper > .dhtmlxcalendar_material div.dhtmlxcalendar_dates_cont ul.dhtmlxcalendar_line li.dhtmlxcalendar_cell_month_hover:hover:before{opacity:.25}#calendar-wrapper > .dhtmlxcalendar_material div.dhtmlxcalendar_dates_cont ul.dhtmlxcalendar_line li{border-radius:6px;position:relative;overflow:hidden;}#calendar-wrapper > .dhtmlxcalendar_material div.dhtmlxcalendar_dates_cont ul.dhtmlxcalendar_line li:before{content:'';position:absolute;top:0;right:0;bottom:0;left:0;background-image:linear-gradient(to left,#66e7ff,#7467fe);opacity:0}#calendar-wrapper > .dhtmlxcalendar_material div.dhtmlxcalendar_days_cont ul.dhtmlxcalendar_line li,#calendar-wrapper > .dhtmlxcalendar_material div.dhtmlxcalendar_dates_cont ul.dhtmlxcalendar_line li{line-height:45px}#calendar-wrapper .dhtmlxcalendar_line{margin:0;display:grid;grid-template-columns:repeat(7,14.285714285714286%)}#calendar-wrapper .dhtmlxcalendar_month_cont .dhtmlxcalendar_line{display:flex}#calendar-wrapper .dhtmlxcalendar_month_cont .dhtmlxcalendar_month_hdr{float:none;width:100%;font-size:24px;margin-bottom:20px;display:flex;justify-content:space-between;}#calendar-wrapper .dhtmlxcalendar_month_cont .dhtmlxcalendar_month_hdr > span,#calendar-wrapper .dhtmlxcalendar_month_cont .dhtmlxcalendar_month_hdr > div{margin-top:auto;left:unset;right:unset;margin-bottom:auto}#calendar-wrapper .dhtmlxcalendar_month_cont .dhtmlxcalendar_month_arrow{width:30px;height:30px;background:url("../img/icons/arrow-left.svg") no-repeat center center/12px;position:relative}#calendar-wrapper .dhtmlxcalendar_month_cont .dhtmlxcalendar_month_arrow_right,#calendar-wrapper .dhtmlxcalendar_month_cont .dhtmlxcalendar_month_arrow_right_hover{background-image:url("../img/icons/arrow-right.svg")}#order{background:url("../img/bg/order-illustration.svg") no-repeat center bottom/cover #383aa1;text-align:center;}#order .order-form{margin:50px 0}#order .captcha-wrapper,#order .submit-wrapper{margin-left:auto;margin-right:auto}@media only screen and (min-width:993px),only screen and (min-width:769px) and (max-width:992px),only screen and (max-width:768px){#order .captcha-wrapper,#order .submit-wrapper{grid-column:1/3}}@media only screen and (max-width:480px){#order .captcha-wrapper,#order .submit-wrapper{grid-column:unset}}#order .captcha-wrapper{margin-top:20px;margin-bottom:10px;}#order .captcha-wrapper img{display:block;height:60px;}@media only screen and (max-width:480px){#order .captcha-wrapper img{height:unset;width:100%}}#order .submit-wrapper input{padding:0;background:transparent;color:#fff;margin:0;}@media only screen and (max-width:480px){#order .submit-wrapper input{width:100%}}#order .reffered a{color:#fff;text-decoration:underline}#order .stripe-mention h6{margin-bottom:20px}/*# sourceMappingURL=style.css.map */

@media screen and (max-width: 600px) {
  .refid-field{
    width: 100% !important;
  }
}

.text-center{ text-align: center;}








@media only screen and (min-width: 993px), only screen and (max-width: 992px) and (min-width: 769px) {
.fix-jony .choices-list .choice__item.--no-pt {
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
}
@media only screen and (min-width: 62em) {
.fix-jony.col-md-10 {
    flex-basis: 100%;
    max-width: 100%;
    margin-left: 0;
}
}

@media only screen and (min-width: 993px), only screen and (max-width: 992px) and (min-width: 769px) {
.fix-jony .choices-list .choice__item.--no-pt img {
    transform: none;
    width: 100%;
}
}

@media only screen and (max-width: 768px) {
.fix-jony .choices-list .choice__item.--no-pt img {
    width: 100%;
}
}


.custom-social-proof {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999999999999 !important;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 0px !important;
}
.custom-social-proof .custom-notification {
  width: 320px;
  border: 0;
  text-align: left;
  z-index: 99999;
  box-sizing: border-box;
  font-weight: 400;
  border-radius: 6px;
  box-shadow: 2px 2px 10px 2px rgba(11, 10, 10, 0.2);
  background-color: #fff;
  position: relative;
  cursor: pointer;
}
.custom-social-proof .custom-notification .custom-notification-container {
  display: flex !important;
  align-items: center;
  height: 80px;
}
.custom-social-proof .custom-notification .custom-notification-container .custom-notification-image-wrapper img {
  max-height: 75px;
  width: 90px;
  overflow: hidden;
  border-radius: 6px 0 0 6px;
  object-fit: cover;
}
.custom-social-proof .custom-notification .custom-notification-container .custom-notification-content-wrapper {
  margin: 0;
  height: 100%;
  color: gray;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0 6px 6px 0;
  flex: 1;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}
.custom-social-proof .custom-notification .custom-notification-container .custom-notification-content-wrapper .custom-notification-content {
  font-family: inherit !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 14px;
  line-height: 16px;
  color: #999;
}
.custom-social-proof .custom-notification .custom-notification-container .custom-notification-content-wrapper .custom-notification-content small {
  margin-top: 3px !important;
  display: block !important;
  font-size: 12px !important;
  opacity: .8;
}
.custom-social-proof .custom-notification .custom-close {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 12px;
  width: 12px;
  cursor: pointer;
  transition: .2s ease-in-out;
  transform: rotate(45deg);
  opacity: 0;
}
.custom-social-proof .custom-notification .custom-close::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: gray;
  position: absolute;
  left: 0;
  top: 5px;
}
.custom-social-proof .custom-notification .custom-close::after {
  content: "";
  display: block;
  height: 100%;
  width: 2px;
  background-color: gray;
  position: absolute;
  left: 5px;
  top: 0;
}
.custom-social-proof .custom-notification:hover .custom-close {
  opacity: 1;
}
