
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Website and App Development by 10MATES</title>
    <meta name="Description" content="Please view some of our previous work and get a quote for your idea to become reality.">
    <meta name="keywords" content="website development, app development, illustration, animation">
    <meta property="og:title" content="Design, Development, Hosting and Maintenance" />
    <meta property="og:description" content="Please view some of our previous work and get a quote for your idea to become reality." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://10mates.com.au/web-dev/" />
    <meta property="og:image" content="https://10mates.com.au/web-dev/web-dev-opengraph.png" />
    
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/style2.css"/>
    <link rel="stylesheet" href="../css/10mates.css">
    <link rel="stylesheet" href="../css/custom.css">

    <link rel="stylesheet" href="../js/plugins/icheck/skins/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="10MATES">
    <meta name="application-name" content="10MATES">

    <link rel="stylesheet" href="../css/micromodal.css">
    <script type="text/javascript" src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>

    <meta name="theme-color" content="#221f68">
    <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WQHR845');</script>
  <!-- End Google Tag Manager -->
  <script src="//code-eu1.jivosite.com/widget/04kkYYsHo2" async></script>
  </head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQHR845"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <header id="header" class="header">
    <div class="wrapper header__content row">
        <div class="col-md-3 col-sm-3 col-xs-6"><a class="header__logo text-gradient --gradient-blue" href="https://10mates.com.au/">10MATES</a></div>
        <div class="col-sm-6 col-sm-offset-3 col-xs-6 burger-menu-wrapper">
        <div class="burger-menu">
            <div class="bar --top"></div>
            <div class="bar --center"></div>
            <div class="bar --bottom"></div>
        </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12 --align-right">
        <div class="header__list-wrapper">
            <ul class="header__list --align-right">
            <li class="close-header-list-mobile">
                <div class="bar --top"></div>
                <div class="bar --bottom"></div>
            </li>
            <li><a href="https://10mates.com.au/nbn/">Internet</a></li>
            <li><a href="https://10mates.com.au/nbn/">Business</a></li>
            <li><a href="https://10mates.com.au/nbn/">Phone</a></li>
            <li><a href="https://10mates.com.au/web-dev/">Web / Dev</a></li>
            <li><a href="https://10mates.com.au/contact/">Contact</a></li>
            <li class="buttons-wrapper">
                <div id="button-order-menu" class="button --gradient-blue">
                <div class="text">ORDER</div>
                </div>
            </li>
            </ul>
        </div>
        </div>
    </div>

    <div class="wrapper home__content row">
        <div class="col-md-5 col-sm-6 col-xs-12">
        <div class="hero-content">
            <h1>Web and Mobile App</h1>
            <p>Design, development, hosting and maintenance</p>

            <!--
            <div class="buttons-wrapper">
            <a href="#" class="btn btn-order btn-primary" style="margin-right: 25px;">Get quote <img src="/img/icons/ic-arrow-long-right.svg"></a>
            <a href="#" class="btn btn-callback btn-primary">Request Callback</a>
            </div>
            -->

            <div class="buttons-wrapper">
                <div class="button --gradient-blue" id="button-order">
                    <div class="text">GET QUOTE</div>
                    <div class="icon"><svg width="100%" height="100%" viewBox="0 0 17 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                            <g id="arrow-right" transform="translate(1.000000, 1.000000)" stroke="#fff" stroke-width="2">
                                <polyline id="Path-2" points="9 0 14.7361545 5.15965337 9 10"></polyline>
                                <path d="M14.602168,5 L-5.68434189e-14,5" id="Path-4"></path>
                            </g>
                        </g>
                    </svg>
                    </div>
                </div>
                <div class="button --gradient-pink" data-micromodal-trigger="modal-1">
                    <div class="text">request callback</div>
                </div>
            </div>
        
            <!--
            <div class="order">
            <a href="#" class="btn btn-order btn-primary">Get quote <img src="/img/icons/ic-arrow-long-right.svg"></a>
            <a href="#" class="btn btn-callback btn-primary">Request Callback</a>
            </div>-->
        
            <p class="phone" style="padding-top: 50px;">03 9917 5453</p>
        </div>
        </div>
        <div class="col-md-6 col-md-offset-1 col-sm-6 col-xs-12 bg-col">
        <div class="hero-anim" id="anim-5"></div>
        </div>
    </div>
  </header> 

  <!-- start:portfolio --> 
  <section id="portfolio" class="portfolio">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="portfolio-heading">
                      <h1>Our Portfolio</h1>
                      <p>Please sample some of our work below</p>
                  </div>

                  <div class="portfolio-content">
                      <div class="widget widget-portfolio">
                          <h4 class="title">Web Design</h4>

                          <div class="portfolio-grid">
                              <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                      <div class="card card-full">
                                          <a href="#">
                                              <div class="card-img">
                                                  <img src="web1.png">
                                              </div>
                                          </a>
                                      </div>
                                      <div class="card card-full">
                                          <a href="#">
                                              <div class="card-img">
                                                  <img src="web2.png">
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                      <div class="card card-full">
                                          <a href="#">
                                              <div class="card-img">
                                                  <img src="web3.png">
                                              </div>
                                          </a>
                                      </div>
                                      <div class="card card-full">
                                          <a href="#">
                                              <div class="card-img">
                                                  <img src="web4.png">
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="widget widget-portfolio">
                          <h4 class="title">Illustration</h4>

                          <div class="portfolio-grid">
                              <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                      <div class="card card-full">
                                          <a href="#">
                                              <div class="card-img">
                                                  <img src="ill1.gif">
                                              </div>
                                          </a>
                                      </div>
                                      <div class="card card-full">
                                          <a href="#">
                                              <div class="card-img">
                                                  <img src="ill2.png">
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                      <div class="card card-full">
                                          <a href="#">
                                              <div class="card-img">
                                                  <img src="ill3.gif">
                                              </div>
                                          </a>
                                      </div>
                                      <div class="card card-full">
                                          <a href="#">
                                              <div class="card-img">
                                                  <img src="ill4.png">
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="widget widget-portfolio">
                          <h4 class="title">Animation</h4>

                          <div class="portfolio-grid">
                              <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                      <div class="card card-full">
                                          <a href="#">
                                              <div class="card-img">
                                                  <img src="ani1.gif">
                                              </div>
                                          </a>
                                      </div>
                                      <div class="card card-full">
                                          <a href="#">
                                              <div class="card-img">
                                                  <img src="ani2.gif">
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                      <div class="card card-full">
                                          <a href="#">
                                              <div class="card-img">
                                                  <img src="ani3.gif">
                                              </div>
                                          </a>
                                      </div>
                                      <div class="card card-full">
                                          <a href="#">
                                              <div class="card-img">
                                                  <img src="ani4.gif">
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- end:portfolio -->

  <!-- start:customer -->
  <section id="customer" class="customer">    
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="customer-heading">
                      <h1>What Our Customers Say</h1>
                      <p>Our customer feedback is very positive, this keeps us moving foward and providing great outcomes</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="customer-content">
          <div class="owl-carousel owl-theme customer-carousel">
              <div class="item">
                  <div class="card card-customer">
                      <div class="card-heading">
                          <div class="card-img">
                              <img src="img-1.png">
                          </div>
                          <div class="card-meta">
                              <span class="name">Terry Wet</span>
                              <span class="title">Founder Tree by the lake.</span>
                          </div>
                      </div>
                      <div class="card-content">
                          <p>“ Alex and his team help me dive in to this huge lake we call the Internet. Our new website is doing wonders! “</p>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="card card-customer">
                      <div class="card-heading">
                          <div class="card-img">
                              <img src="img-2.jpg">
                          </div>
                          <div class="card-meta">
                              <span class="name">Josh Dickson</span>
                              <span class="title">Director Joswen</span>
                          </div>
                      </div>
                      <div class="card-content">
                          <p>“ With Alex leading his team of developers as project manager, we were pleasantly surprised on the level of expertise he and his team brought to our project. They managed the planning, development, launch, marketing and seo cycles and were a pleasure to work with.  “</p>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="card card-customer">
                      <div class="card-heading">
                          <div class="card-img">
                              <img src="img-1.jpg">
                          </div>
                          <div class="card-meta">
                              <span class="name">Matthew Peacock</span>
                              <span class="title">Co-Founder Sunny Solar</span>
                          </div>
                      </div>
                      <div class="card-content">
                          <p>“ Alex and his team got our small business website up and running quicker than we expected. We were happy throughout the whole process. Thank you! “</p>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="card card-customer">
                      <div class="card-heading">
                          <div class="card-img">
                              <img src="img-3.jpg">
                          </div>
                          <div class="card-meta">
                              <span class="name">Herbert Moorhouse</span>
                              <span class="title">Director Herbie's House Radiopgraphy</span>
                          </div>
                      </div>
                      <div class="card-content">
                          <p>“ Alex's team helped us develop an application for sharing xrays to doctors and patients, we are very happy with the performance and quality of the app! “</p>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="card card-customer">
                      <div class="card-heading">
                          <div class="card-img">
                              <img src="img-4.jpg">
                          </div>
                          <div class="card-meta">
                              <span class="name">Jim Timings</span>
                              <span class="title">Co-founder Quadracopt0r</span>
                          </div>
                      </div>
                      <div class="card-content">
                          <p>“ We needed a better online presence for our new line of drones, Alex and his team were the right people for the job. “</p>
                      </div>
                  </div>
              </div>              
          </div>
      </div>

      <!-- start:hire -->
      <section id="hire" class="hire">
          <div class="container">
              <div class="row">
                  <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
                      <div class="hire-heading">
                          <h1>Have an idea?</h1>
                          <p>Let us know a little about your project and we can give you a quote</p>
                      </div>
                      <div class="hire-content">
                          <form method="post" id="contact-form">
                              <div class="row">
                                  <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name" required id="c-name">
                                    </div>
                                  </div>
                                  <div class="col-md-6 col-sm-12 col-xs-12">
                                        <input type="email" class="form-control" placeholder="Email" required id="c-email">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <textarea class="form-control" cols="20" rows="6" placeholder="Messages" required id="c-message"></textarea>
                              </div>
                              <div class="form-group">
                                    <div class="g-recaptcha" data-sitekey="6LdfK4oUAAAAAHas8ZRa0ifFOBxbjw7ooa4_mbRn"></div>
                              </div>
                              <div class="form-group" id="ajax-message" style="display: none;">
                                <p><i class="fa fa-check-circle"></i> <span id="msg"></span></p>
                              </div>
                              <div class="form-group">
                                  <button type="submit" class="btn btn-primary btn-block btn-order" id="btn-submit">Submit <img src="/img/icons/ic-arrow-long-right.svg"></button>
                              </div>
                          </form>   
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- end:hire -->
  </section>
  <!-- end:customer -->

    <!-- FOOTER -->
    <footer>
    <div class="wrapper row">
        <div class="col-md-4 col-sm-12 col-xs-12">
        <h3 class="title">10MATES</h3>
        <div class="pars">
            <p class="--small">An Australian owned and operated small business operating for over 5 years. We specialise in premium quality Internet and phone connections. We also have a large portfolio of web and app design projects.</p>
            <p class="--small">&copy; 2019 10MATES PTY LTD. All rights reserved.  ABN:15162723104 PH:03 9917 5453 PO Box 24044 Melbourne VIC 3001</p>
        </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
        <h4 class="title">Services</h4>
        <div class="footer-link-list">
                <li class="list__item"><a href="https://10mates.com.au/nbn/">Residential Internet</a></li>
                <li class="list__item"><a href="https://10mates.com.au/business/">Business Internet</a></li>
                <li class="list__item"><a href="https://10mates.com.au/nbn/">Phone / VOIP</a></li>
                <li class="list__item"><a href="https://10mates.com.au/web-dev/">Web and Mobile App Development</a></li>
                <li class="list__item"><a href="https://10mates.com.au/network-and-device-setup/">Network & Device Setup</a></li>
                <li class="list__item"><a href="https://10mates.com.au/4g-5g-nbn-redundant-backup-internet/">4G/5G Redundant/Backup Internet</a></li>
                <li class="list__item"><a href="https://10mates.com.au/internet-security/">Internet Security</a></li>
                <li class="list__item"><a href="https://10mates.com.au/family-internet-filters/">Family Internet Filters</a></li>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
        <h4 class="title">Other</h4>
        <div class="footer-link-list">
            <li class="list__item"><a href="https://10mates.com.au/jobs/">Jobs</a></li>
            <li class="list__item"><a href="https://10mates.com.au/pensioners/">Pensioner Discount</a></li>
            <li class="list__item"><a href="https://10mates.com.au/update/">Update Credit Card</a></li>
        </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
        <h4 class="title">Support</h4>
            <div class="footer-link-list">
                <li class="list__item"><a href="https://10mates.com.au/faqs/">FAQs</a></li>
                <li class="list__item"><a href="https://10mates.com.au/troubleshooting/">Troubleshooting</a></li>
                <li class="list__item"><a href="https://10mates.com.au/modem-router-wifi-setup/">Modem/Router/Wifi Setup</a></li>
                <li class="list__item"><a href="https://10mates.com.au/nbn-speed-test-results/">nbn Speed Test Results</a></li>
                <li class="list__item"><a href="https://10mates.com.au/nbn-coverage-map/">nbn Coverage Map</a></li>
                <li class="list__item"><a href="https://10mates.com.au/nbn-technology-types/">nbn Technology Types</a></li>
                <li class="list__item"><a href="https://10mates.com.au/nbn-service-classes/">nbn Service Classes</a></li>
                <li class="list__item"><a href="https://10mates.com.au/nbn-new-development-charge/">nbn New Development Charge</a></li>
                <li class="list__item"><a href="https://10mates.com.au/nbn-enchanced-service-levels-esla/">nbn™ Enchanced Service Levels (eSLA)</a></li>
        </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
        <h4 class="title">Social</h4>
        <div class="social-link-list"><a class="fb" href="https://www.facebook.com/10mates/"></a><a class="tw" href="https://twitter.com/10mtes"></a>
        </div>
        </div>
        <div class="col-md-12 col-xs-12">
        <div class="footer-link-list">
            <br>
            <a href="https://10mates.com.au/terms/">Terms & Conditions  |</a>
            <a href="https://10mates.com.au/critical-information-summary/">Critical Information Summaries  |</a>
            <a href="https://10mates.com.au/terms/">Privacy  |</a>
            <a href="https://10mates.com.au/financial-hardship-policy/">Financial Hardship Policy  |</a>
            <a href="https://10mates.com.au/contact/">Complaints  |</a>
            <a href="https://10mates.com.au/authorised-representative/appointment-of-authorised-representative-form.docx">Appointment of Authorised Representative  </a>
        </div>
        </div>
    </div>
    <figure class="footer-illustration"><img src="../img/bg/footer-illustration.svg" alt="Rocket"/></figure>
    </footer>
    <!-- /FOOTER -->

    <!-- Modal -->
    <div id="modal-block">
        <div aria-hidden="true"
                class="modal micromodal-slide"
                id="modal-1">
            <div class="modal__overlay"
                data-micromodal-close=""
                tabindex="-1">
            <div aria-labelledby="modal-1-title"
                    aria-modal="true"
                    class="modal__container"
                    role="dialog">
                <header class="modal__header">
                <h1 class="modal__title"
                    id="modal-1-title"
                    style="margin: 0 auto;">SPEAK TO OUR TEAM</h1>
                </header>
                <p style="color: rgb(10, 19, 139);margin: 0 auto;text-align: center;">We will investigate your address to see exactly what type of connection is available then discuss your needs to find a plan that suites.</p>
                <div class="modal__content"
                    id="modal-1-content">
                <div class="measure">
                    <div class="row">
                    <div class="input-field2">
                        <label>Name</label>
                        <input class="input-field"
                            placeholder="Name"
                            tabindex="1"
                            type="text"
                            v-bind:class="{ error_field: errors.name }"
                            v-model.trim="name">
                    </div>
                    </div><br>
                    <div class="row">
                    <div class="input-field2">
                        <label>Email</label>
                        <input class="input-field"
                            placeholder="Email Address"
                            tabindex="2"
                            type="email"
                            v-model="email">
                    </div>
                    </div><br>
                    <div class="row">
                    <div class="input-field2">
                        <label>Phone/Mobile</label>
                        <input class="input-field"
                            placeholder="Phone / Mobile"
                            tabindex="3"
                            type="text"
                            v-model="phone">
                    </div>
                    </div><br>
                    <div class="row">
                    <div class="input-field2">
                        <select class="input-field"
                            name="best-time"
                            tabindex="6"
                            v-model="time">
                        <option selected
                                value="">
                            Choose Callback Time
                        </option>
                        <option value="asap">
                            Call ASAP
                        </option>
                        <option value="7am-8am">
                            7am-8am
                        </option>
                        <option value="8am-9am">
                            8am-9am
                        </option>
                        <option value="9am-10am">
                            9am-10am
                        </option>
                        <option value="10am-11am">
                            10am-11am
                        </option>
                        <option value="11am-12pm">
                            11am-12pm
                        </option>
                        <option value="12pm-1pm">
                            12pm-1pm
                        </option>
                        <option value="1pm-2pm">
                            1pm-2pm
                        </option>
                        <option value="2pm-3pm">
                            2pm-3pm
                        </option>
                        <option value="3pm-4pm">
                            3pm-4pm
                        </option>
                        <option value="4pm-5pm">
                            4pm-5pm
                        </option>
                        <option value="5pm-6pm">
                            5pm-6pm
                        </option>
                        <option value="6pm-7pm">
                            6pm-7pm
                        </option>
                        <option value="7pm-8pm">
                            7pm-8pm
                        </option>
                        <option value="8pm-9pm">
                            8pm-9pm
                        </option>
                        <option value="9pm-10pm">
                            9pm-10pm
                        </option>
                        </select>
                    </div>
                    </div><br>
                    <div class="row">
                    <div class="input-field2">
                        <div class="input-wrapper">
                        <div class="placeholder"></div>
                        <label>Address</label>
                        <input class="input-field"
                                placeholder="Your Address"
                                tabindex="7"
                                type="text"
                                v-model="address">
                        </div>
                    </div>
                    </div><br>
                    <div class="row">
                    <div class="input-field2">
                        <div class="input-field2">
                        <textarea class="input-field"
                                placeholder="Any Questions?"
                                tabindex="12"
                                v-model="question"></textarea>
                        </div>
                    </div>
                    </div><br>
                    <div class="buttons">
                    <button id="submit-btn" class="modal__btn modal__btn-primary"
                            v-on:click="doSubmit">Submit</button> 
                    <button aria-label="Close this dialog window" class="modal__btn"
                            data-micromodal-close="">Close</button>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- /Modal-->




    <!-- Scripts -->
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script type="text/javascript" src="../js/plugins//icheck/icheck.min.js"></script>
    <script type="text/javascript" src="../js/plugins/jquery.mask.min.js"></script>


    <script type="text/javascript" src="../js/main.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    
    <script type="text/javascript" src="../js/web-dev.1.js"></script>
    
    <script src="../js/lottie.js"></script>
    <script type="text/javascript" src="../js/animation3.js"></script>

    <script>
    $(function(){
      var owl = $('.customer-carousel');
      owl.owlCarousel({
        stagePadding: 50,
        margin: 20,
        nav: false,
        loop: true,
        startPosition: 1,
        responsive: {
          0: {
              items: 1
          },
          600: {
              items: 1
          },
          1000: {
              stagePadding: 400,
              margin: 40,
              items: 1
          },
          1024: {
              stagePadding: 100,
              margin: 40,
              items: 1
          },
          1440: {
              stagePadding: 400,
              margin: 40,
              items: 1
          }
        }
      });

      if(window.location.hash == '#contact'){
            $('html, body').animate({
                scrollTop: $("section#hire").offset().top
            }, 800);
            window.location.hash = '/';
        }
    });
    </script>




<script type="text/javascript">
    MicroModal.init();

    $('#button-order').on('click', function(){
        $('html, body').animate({
            scrollTop: $("#hire").offset().top
        }, 1000); 
    });
    $("#button-order-menu").on('click', function(){
        window.location.href = '/nbn/#view';
    });

    //MicroModal.show('modal-1'); // [1]
    //MicroModal.close('modal-1');
    /*
    MicroModal.init({
      onShow: modal => console.info(`${modal.id} is shown`), // [1]
      onClose: modal => console.info(`${modal.id} is hidden`), // [2]
      openTrigger: 'data-custom-open', // [3]
      closeTrigger: 'data-custom-close', // [4]
      disableScroll: true, // [5]
      disableFocus: false, // [6]
      awaitCloseAnimation: false, // [7]
      debugMode: true // [8]
    });*/

    function addEvent(obj, evt, fn) {
        if (obj.addEventListener) {
            obj.addEventListener(evt, fn, false);
        } else if (obj.attachEvent) {
            obj.attachEvent("on" + evt, fn);
        }
    }

    // Exit intent trigger
    addEvent(document, 'mouseout', function(evt) {
        if (evt.toElement === null && evt.relatedTarget === null 
            && !localStorage.getItem('exitintent_show')) {
            MicroModal.show('modal-1');
            localStorage.setItem('exitintent_show', 'true'); // Set the flag in localStorage
        }
    });
</script>

  </body>
</html>
