<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>nbn New Development Charge Checker by 10MATES</title>
    <meta name="Description" content="For when you just want to check whether or not there is an nbn new development charge or fee.">
    <meta name="keywords" content="nbn, nbn new development fee, nbn new development charge">
    <meta property="og:title" content="nbn New Development Charge Checker by 10MATES" />
    <meta property="og:description" content="For when you just want to check whether or not there is an nbn new development charge or fee." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://10mates.com.au/nbn-new-development-charge/" />
    <meta property="og:image" content="https://10mates.com.au/nbn-new-development-charge/nbn-new-development-charge-checker.jpg" />
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/style2.css"/>
    <link rel="stylesheet" href="/css/custom.css"/>
    <link rel="stylesheet" href="../js/plugins/icheck/skins/all.css">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="10MATES">
    <meta name="application-name" content="10MATES">
    <meta name="theme-color" content="#221f68">
    
    <style>
        div#captcha_container {
            width: 305px !important;
            margin: 20px auto !important;
        }
        button.sending-btn {
            width: 26% !important;
            
        }
        #tech-types-page img{
          width: 95%;
        }
    </style>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="10MATES">
    <meta name="application-name" content="10MATES">
    <meta name="theme-color" content="#ffffff">
    <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WQHR845');</script>
  <!-- End Google Tag Manager -->
  <script src="//code-eu1.jivosite.com/widget/04kkYYsHo2" async></script>
  </head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQHR845"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
<div class="overlay"></div>

<div id="app-main">
<section class="section-w-pattern pattern-1" id="home">
  <header>
    <div class="wrapper header__content row">
      <div class="col-md-3 col-sm-3 col-xs-6"><a class="header__logo text-gradient --gradient-blue" href="https://10mates.com.au/">10MATES</a></div>
      <div class="col-sm-6 col-sm-offset-3 col-xs-6 burger-menu-wrapper">
        <div class="burger-menu">
          <div class="bar --top"></div>
          <div class="bar --center"></div>
          <div class="bar --bottom"></div>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-xs-12 --align-right">
        <div class="header__list-wrapper">
          <ul class="header__list --align-right">
            <li><a href="https://10mates.com.au/nbn/">Internet</a></li> <li><a href="https://10mates.com.au/business/">Business</a></li> <li><a href="https://10mates.com.au/nbn/">Phone</a></li> <li><a href="https://10mates.com.au/web-dev/">Web / Dev</a></li> <li><a href="https://10mates.com.au/contact/">Contact</a></li> <li class="buttons-wrapper"> <div class="button --gradient-blue" id="button-order-top"> <div class="text">ORDER</div> </div> </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <div class="wrapper home__content row">
    <div class="col-md-12 col-sm-12 col-xs-12 padtop40">
      <h1 align="center" class="text-gradient --gradient-blue --w-shadow">nbn New Development Charge Checker</h1>
      
      <!-- Start -->
      <br />
<br />
<br />
<div class="form_sec"><script src="https://ajax.cloudflare.com/cdn-cgi/scripts/2448a7bd/cloudflare-static/rocket-loader.min.js" data-cf-nonce="6672db833ef1e565ce757309-"></script>
<form action="" method="post" onsubmit="return validate1(this)">
  <input id="orderId" type="hidden" />
  <input id="gcaptcha_reponse" type="hidden" />
  <div class="full_width">
   <!-- <input id="appendedInputButton" type="text" placeholder="Enter your address to see if the new development fee is applicable" onfocus="geolocate()" autocomplete="0" />-->
    <input type="search" placeholder="Enter your address to see if the new development fee is applicable" id="appendedInputButton" autocomplete="0"/>
  </div>

  <!--
  <div id="otherFields" style="display: none;">
    <div class="col-md-12 col-xs-12">
      <input id="name" type="text" placeholder="Name" />
    </div>
    <div class="col-md-12 col-xs-12">
      <input id="email" type="email" placeholder="Email" />
    </div>
    <div class="col-md-12 col-xs-12">
      <input id="phone" type="text" placeholder="Phone" />
    </div>
  </div>

  <div class="total_captcha"> 
   <div id="captcha_container" style="display: none;"></div> 
  </div>
  <span style="display: none;" id="submitOrderBtnDiv">
    <div class="buttons-wrapper">
        <button class="button --gradient-blue sending-btn" id="submitOrderBtn" type="submit">Check</button>
    </div>
  </span>
  -->



  </form>
</div>

    <div class="spinner">
      <div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div>
    </div>
    <div class="spinner-text col-md-12 col-xs-12" id="spinner-text"></div>

    <div id="locations" class="row" v-if="locations.length > 0 && step == 2" v-cloak>
        <div class="col-md-12 col-xs-12"><br/>
          <p><i class="fa fa-map-marker"> </i>&nbsp;Multiple locations found <small></i> Please select the exact location below </small></p>

          <div class="table" v-cloak>
            <div class="row header blue">
              <div class="cell">Select</div>
              <div class="cell">
                Address
              </div>
            </div>
            
            <div v-for="loc in locations" class="row row-data">
              <div class="cell" data-title="Select">
                <div class="iradio_square-blue">
                  <input type="radio" name="loc" class="radio" v-bind:id="loc.locationId" v-model="selectedLocId" v-bind:value="loc.locationId" v-bind:data-subaddresstype="loc.address.subAddressType" v-bind:data-subaddressnumber="loc.address.subAddressNumber">
                </div>      
              </div>
              <div class="cell" data-title="Address">
                {{ loc.displayAddress }}
              </div>
            </div>
          </div>

      </div>
    </div>

    <div class="row">
      <div class="feature col-sm-12 col-md-12"><br/><br/><br>
      <p class="description">For when you just want to check whether or not there is an nbn new development fee or charge. You will receive an automatic response below once you enter your address above.</p>
      <h2>What is the nbn new development charge?</h2>
      <p class="description">The nbn new development charge is $300 and has been forced on to residents by nbn to help pay for the costs of rolling out the nbn (yes you heard that right, even though we pay for it through tax...).</p>
      <p class="description">With 10MATES you have the choice to either pay $300 up front or avoid paying the nbn new development charge upfront and pay it off each month. On a 12 month plan it would be an extra $25 per month and on a 24 month plan $12.50 per month.</p>
      <p class="description"><a href="https://10mates.com.au/nbn/">View our premium nbn Plans</a></p>
      </div>
    </div>

    <div class="row" v-if="step == 3" id="sq-result">
      <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <h2 v-if="response_list.length > 0">Service Qualification Results</h2>
    
        <ul class="sq-result-list" v-if="response_list.length > 0">
            <li v-for="msg in response_list">
                <p v-html="msg"></p>
            </li>
        </ul>
        <div v-html="qualificationMessage"></div>
    
        <div class="map-wrapper --max-width-on-mobile">
          <div class="col-12 col-md-12 col-xs-12" v-if="step == 3">
              <div v-if="response_list.length > 0">
                <p><em><!--Copy the address below and paste on the search box to get more details about the availability of NBN in your location in the map--></em></p>
                <p class="text-orange">{{ selectedAddressFormatted }}</p>
              </div>
            </div>
        </div>
        <!--
        <h4>We have determined that FTTP is available at your address. The install is already complete and you can be online within an hour. The nbn<sup>tm</sup> new development fee is not applicable. Due to your distance to the node, nbn<sup>tm</sup> has calculated your speed to be roughly 78 mbps.</h4>
        -->
      </div>
    </div>

      <!-- End -->
      <div class="hero-anim" id="anim-2"></div>
    </div>
  </div>
</section>

<!-- FOOTER -->
<footer>
  <div class="wrapper row">
    <div class="col-md-4 col-sm-12 col-xs-12">
      <h3 class="title">10MATES</h3>
      <div class="pars">
        <p class="--small">An Australian owned and operated small business operating for over 5 years. We specialise in premium quality Internet and phone connections. We also have a large portfolio of web and app design projects.</p>
        <p class="--small">&copy; 2019 10MATES PTY LTD. All rights reserved.  ABN:15162723104 PH:03 9917 5453 PO Box 24044 Melbourne VIC 3001</p>
      </div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6">
      <h4 class="title">Services</h4>
      <div class="footer-link-list">
            <li class="list__item"><a href="https://10mates.com.au/nbn/">Residential Internet</a></li>
            <li class="list__item"><a href="https://10mates.com.au/business/">Business Internet</a></li>
            <li class="list__item"><a href="https://10mates.com.au/nbn/">Phone / VOIP</a></li>
            <li class="list__item"><a href="https://10mates.com.au/web-dev/">Web and Mobile App Development</a></li>
            <li class="list__item"><a href="https://10mates.com.au/network-and-device-setup/">Network & Device Setup</a></li>
            <li class="list__item"><a href="https://10mates.com.au/4g-5g-nbn-redundant-backup-internet/">4G/5G Redundant/Backup Internet</a></li>
            <li class="list__item"><a href="https://10mates.com.au/internet-security/">Internet Security</a></li>
            <li class="list__item"><a href="https://10mates.com.au/family-internet-filters/">Family Internet Filters</a></li>
          </div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6">
      <h4 class="title">Other</h4>
      <div class="footer-link-list">
        <li class="list__item"><a href="https://10mates.com.au/jobs/">Jobs</a></li>
        <li class="list__item"><a href="https://10mates.com.au/pensioners/">Pensioner Discount</a></li>
        <li class="list__item"><a href="https://10mates.com.au/update/">Update Credit Card</a></li>
      </div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6">
      <h4 class="title">Support</h4>
          <div class="footer-link-list">
            <li class="list__item"><a href="https://10mates.com.au/faqs/">FAQs</a></li>
            <li class="list__item"><a href="https://10mates.com.au/troubleshooting/">Troubleshooting</a></li>
            <li class="list__item"><a href="https://10mates.com.au/modem-router-wifi-setup/">Modem/Router/Wifi Setup</a></li>
            <li class="list__item"><a href="https://10mates.com.au/nbn-speed-test-results/">nbn Speed Test Results</a></li>
            <li class="list__item"><a href="https://10mates.com.au/nbn-coverage-map/">nbn Coverage Map</a></li>
            <li class="list__item"><a href="https://10mates.com.au/nbn-technology-types/">nbn Technology Types</a></li>
            <li class="list__item"><a href="https://10mates.com.au/nbn-service-classes/">nbn Service Classes</a></li>
            <li class="list__item"><a href="https://10mates.com.au/nbn-new-development-charge/">nbn New Development Charge</a></li>
            <li class="list__item"><a href="https://10mates.com.au/nbn-enchanced-service-levels-esla/">nbn™ Enchanced Service Levels (eSLA)</a></li>
      </div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6">
      <h4 class="title">Social</h4>
      <div class="social-link-list"><a class="fb" href="https://www.facebook.com/10mates/"></a><a class="tw" href="https://twitter.com/10mtes"></a>
      </div>
    </div>
    <div class="col-md-12 col-xs-12">
      <div class="footer-link-list">
        <br>
        <a href="https://10mates.com.au/terms/">Terms & Conditions  |</a>
        <a href="https://10mates.com.au/critical-information-summary/">Critical Information Summaries  |</a>
        <a href="https://10mates.com.au/terms/">Privacy  |</a>
        <a href="https://10mates.com.au/financial-hardship-policy/">Financial Hardship Policy  |</a>
        <a href="https://10mates.com.au/contact/">Complaints  |</a>
        <a href="https://10mates.com.au/authorised-representative/appointment-of-authorised-representative-form.docx">Appointment of Authorised Representative  </a>
    </div>
    </div>
  </div>
  <figure class="footer-illustration"><img src="../img/bg/footer-illustration.svg" alt="Rocket"/></figure>
</footer>
<!-- /FOOTER -->

</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../js/plugins//icheck/icheck.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" type="6672db833ef1e565ce757309-text/javascript"></script>
<script type="text/javascript" src="../js/dhtmlxcalendar.js"></script>

<script type="text/javascript" src="/js/sq.js"></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAi31r7t_d_XhhWZMY7fcdfPkdBByH-BFo&libraries=places&callback=initJS"></script>

<!--<script src="../js/menu.js"></script>-->
<script type="text/javascript" src="../js/scroll-to-order.js"></script>



<script>
// Added function for validation and alert

var ajaxRequest = false;

function validate1(frm) {
	var error 		= false;
	var errorMsg 	= '';
	
    var orderId 	= $('#orderId').val();
	var address 	= $('#appendedInputButton').val();
	var name 		= $('#name').val();
	var email 		= $('#email').val();
	var phone 		= $('#phone').val();
	var gcaptcha_reponse = $('#gcaptcha_reponse').val();
		
	var regExpPhone = /^[0-9-+]+$/;
	var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
	
	if(address == ''){
		error = true;
		errorMsg += "<br> * Please enter your address."
	}
	if(name == ''){
		error = true;
		errorMsg += "<br> * Please enter your name."
	}
	
	if(email == ''){
		error = true;
		errorMsg += "<br> * Please enter your email address so I can email you the results."
	}else if(!emailPattern.test(email)){
		error = true;
		errorMsg += "<br> * Please Input valid email."
	}
	
	if(phone == ''){
		error = true;
		errorMsg += "<br> * Please enter your mobile number so I can SMS or call you."
	}else if(!regExpPhone.test(phone)){
		error = true;
		errorMsg += "<br> * Please Input valid mobile number."
	}
	
	errorMsg += "<br> If you have any problems please email me here alex@10mates.com.au or you can call or SMS 0423 64 0079"
	
    if(error){
		bootstrap_alert.danger(errorMsg);
	}else{
		$.ajax({
			type: 'POST',
			url: '../email1.php', // change its path as per your directory
			data: {orderId:orderId, address:address, name:name, email:email, phone:phone,gcaptcha_reponse:gcaptcha_reponse},
			beforeSend : function (){
				$("#submitOrderBtn").text('Sending...');
			},
			dataType: 'JSON',
			success:function(data) 
			{ 
				if(data.success){
					bootstrap_alert.success(data.msg);
					$('#name').val('');
					$('#email').val('');
					$('#phone').val('');
					$('#appendedInputButton').val('');
					$('#orderId').val('');
				}else{
					bootstrap_alert.danger(data.msg);
				}
				$("#submitOrderBtn").text("Submit!");
			}
    	});
		
	}
	return false;
    
}

function validate2(frm) {
	var error 		= false;
	var errorMsg 	= '';
	
    var orderId 	= $('#orderId').val();
	var address 	= $('#address').val();
	var name 		= $('#name').val();
	var email 		= $('#email').val();
	var phone 		= $('#phone').val();
	var query 		= $('#query').val();
	var gcaptcha_reponse = $('#gcaptcha_reponse').val();
		
	var regExpPhone = /^[0-9-+]+$/;
	var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
	
	if(address == ''){
		error = true;
		errorMsg += "<br> * Please Input address."
	}
	if(name == ''){
		error = true;
		errorMsg += "<br> * Please Input name."
	}
	
	if(email == ''){
		error = true;
		errorMsg += "<br> * Please Input email."
	}else if(!emailPattern.test(email)){
		error = true;
		errorMsg += "<br> * Please Input valid email."
	}
	
	if(phone == ''){
		error = true;
		errorMsg += "<br> * Please Input mobile number."
	}else if(!regExpPhone.test(phone)){
		error = true;
		errorMsg += "<br> * Please Input valid mobile number."
	}
	
	errorMsg += "<br> NOTE: If you have any problems - email me alex@10mates.com.au"
	
    if(error){
		bootstrap_alert.danger(errorMsg);
	}else{
		$.ajax({
			type: 'POST',
			url: 'email2.php', // change its path as per your directory
			data: {orderId:orderId, address:address, name:name, email:email, phone:phone,gcaptcha_reponse:gcaptcha_reponse,query:query},
			beforeSend : function (){
				$("#submitOrderBtn").text('Sending...');
			},
			dataType: 'JSON',
			success:function(data) 
			{ 
				if(data.success){
					bootstrap_alert.success(data.msg);
					$('#name').val('');
					$('#email').val('');
					$('#phone').val('');
					$('#address').val('');
					$('#orderId').val('');
					$('#query').val('');
				}else{
					bootstrap_alert.danger(data.msg);
				}
				$("#submitOrderBtn").text("Send");
			}
    	});
		
	}
	return false;
    
}


function validate(frm) {
    var details = $('#appendedInputButton').val();
    var addr = details.search(/^(.*)\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}(.*)[0-9]{10}(.*)$/);
    var addr_phoneno = details.search(/^(.*)[0-9]{10}(.*)\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}(.*)$/);
    if(!addr || !addr_phoneno) {

        if(ajaxRequest)
            return;


        $(frm).find('button[type=submit]').text("Sending...");

        ajaxRequest = true;

        $.get('/email.php',{data:details},function(a){

            bootstrap_alert.success(a);

            ajaxRequest = false;
            $(frm).find('button[type=submit]').text("Go!");
        })
    }
    else {
        bootstrap_alert.danger('Please enter your email address plus your street address AND OR 10 digit phone number. If you have any problems - email me alex@10mates.com.au');
    }
  return false;      
}
function validateEmail() {

    var chalField = $("input[name='recaptcha_challenge_field']");
    var resField = $("input[name='recaptcha_response_field']");

    if(chalField.length && resField.length){
        
        var x = $(chalField).val();
        var y = $(resField).val();
    }
    else{
        
        var x = '';
        var y = '';
    }

    var email = $("#inputEmail").val();
    var verified_email = email.search(/^[\w\.]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/);
    var message = $("#message_email").val();
    if(!verified_email && !message=="") {


        $.get('/sendEmail.php',{mail:email,msg:message,captcha_challenge_field:x,captcha_response_field:y},function(response) {

                var ret = $.parseJSON(response);

                if(ret.success){
                    bootstrap_alert.successContact(ret.message);
                }
                else{

                    bootstrap_alert.dangerContact(ret.message);
                }
            
        });  
    } 
    else {
        bootstrap_alert.dangerContact("Please enter a valid email or enter a message");
    }
    return false;
}

bootstrap_alert = function() {}
bootstrap_alert.danger = function(message) {
            $('#alert_placeholder').html('<div class="alert alert-block alert-danger"><a class="close" data-dismiss="alert">&times;</a><h4 class="alert-heading">'+message+'</h4></div>')
        }
bootstrap_alert.success = function(message) {
            $('#alert_placeholder').html('<div class="alert alert-block alert-success"><a class="close" data-dismiss="alert">&times;</a><h4 class="alert-heading">'+message+'</h4></div>')
        }
bootstrap_alert.dangerContact = function(message) {
            $('#alert_placeholder_contact').html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">&times;</a><span>'+message+'</span></div>')
        }
bootstrap_alert.successContact = function(message) {
            $('#alert_placeholder_contact').html('<div class="alert alert-success"><a class="close" data-dismiss="alert">&times;</a><span>'+message+'</span></div>')
        }
$('.call-alert').on('click', function() {
            bootstrap_alert.danger('To proceed please enter your address and details below.');
});
</script>

<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/2448a7bd/cloudflare-static/rocket-loader.min.js" data-cf-nonce="6672db833ef1e565ce757309-" defer=""></script>
</body>
</html>